@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

$accent-color: #864dfe;
$text-color: #8c8c8c;
$text-black: #000;
$border-color: #dddddd;
